<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
       <footer class="footer" th:fragment="footerFragment">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="https://github.com/dada0417/studycf">
                                GITHUB
                            </a>
                        </li>
          
                    </ul>
                </nav>
                <div class="copyright pull-right">
                 <a href="https://github.com/dada0417/studycf">studycf 깃허브</a>
                </div>
            </div>
        </footer>


</html>