<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="sidebar" data-background-color="white" data-active-color="danger" th:fragment="leftmenuFragment">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
		
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/}" class="simple-text">
                    HARDSTUDYCAFE
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a th:href="@{/}">
                        <i class="ti-panel"></i>
                        <p> 메인화면 </p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userDetail}">
                        <i class="ti-user"></i>
                        <p> 내정보 </p>
                    </a>
                </li>
                <li sec:authorize="hasRole('MANAGER')">
                    <a th:href="@{/user/userList}">
                        <i class="ti-face-smile"></i>
                        <p>회원 목록</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/order/addOrder}">
                        <i class="ti-ticket"></i>
                        <p>이용권</p>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a th:href="@{/goods/addGoods}">
                        <i class="ti-plus"></i>
                        <p>이용권 등록</p>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a th:href="@{/goods/goodsList}">
                        <i class="ti-view-list-alt"></i>
                        <p>이용권 목록</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/boardList}">
                        <i class="ti-text"></i>
                        <p>게시판</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
</html>