<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
		
		
<div class="sidebar" data-background-color="white" data-active-color="danger" th:fragment="leftmenuFragment">

    <div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/}" class="simple-text">
                    HARDSTUDYCAFE
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a th:href="@{/}">
                        <i class="ti-panel"></i>
                        <p> 메인화면 </p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userDetail}">
                        <i class="ti-user"></i>
                        <p> 내정보 </p>
                    </a>
                </li>
                <li sec:authorize="hasRole('MANAGER')">
                    <a th:href="@{/user/userList}">
                        <i class="ti-face-smile"></i>
                        <p>회원 목록</p>
                    </a>
                </li>
                <li class="subList">
                    <a>
                        <i class="ti-ticket"></i>
                        <p>이용권<i class="ti-angle-right" style="font-size: 10px; float: right;"></i></p>
                    </a>
                    <ul class="childList nav" style="display: none; list-style: none; margin-top: 0px; background-color: #F4BB35;">
                        <li sec:authorize="hasRole('ROLE_MANAGER')">
                            <a th:href="@{/goods/addGoods}">
                                <i style="color: white;" class="ti-plus"></i>
                                <p style="color: white;">이용권 등록</p>
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_MANAGER')">
                            <a th:href="@{/goods/goodsList}">
                                <i style="color: white;" class="ti-view-list-alt"></i>
                                <p style="color: white;">이용권 목록</p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/order/addOrder}">
                                <i style="color: white;" class="ti-credit-card"></i>
                                <p style="color: white;">이용권 구매</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/board/boardList}">
                        <i class="ti-text"></i>
                        <p>게시판</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</html>