<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: headFragment">
</head>
<body>

<div class="wrapper">
<!-- sidebar -->
    <div th:replace="fragments/leftmenu :: leftmenuFragment"></div>

    <div class="main-panel">
		<!-- header -->
    	<div th:replace="fragments/header :: headerFragment"></div>
     <div class="content" >   
	<!-- 사용자 정의 contents -->
		<th:block layout:fragment="customContents">
		
		</th:block>
	</div>
<!-- footer -->
	<div th:replace="fragments/footer :: footerFragment"></div>
    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script th:src="@{/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
	<!--  Checkbox, Radio & Switch Plugins -->
	<script th:src="@{/assets/js/bootstrap-checkbox-radio.js}"></script>

	<!--  Charts Plugin -->
	<script th:src="@{/assets/js/chartist.min.js}"></script>

    <!--  Notifications Plugin    -->
    <script th:src="@{/assets/js/bootstrap-notify.js}"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script th:src="@{/assets/js/paper-dashboard.js}"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/assets/js/demo.js}"></script>
	
</html>
