<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	

<th:block layout:fragment="customJs">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
	<script>
	/* 유형에 맞는 상품 가져오기 */
	
	$(function(){
		
			function validationCheck(data){
				if(typeof data == 'undefined' || data == '' || data == null){
					return false;
				}
				return true;
			}
			
			/* 이용권 구매 유효성 검사 */
			$('#orderBtn').click(function(){
				var isSubmit = true;
					
					// 사용자가 입력하지 않은 경우
					if($("#goodsCd").val() == ""||$("#price").val() == ""|| $("#orderInsertDate").val() == "" || $("#orderExpirationDate").val() == ""){
						alert('구매할 이용권을 선택해주세요.');
						isSubmit = false;
						return false;
					}if($("#userId").val() == ""){
						alert("로그인해주세요");
						isSubmit = false;
						return false;
					}
					if(isSubmit) $('#addOrderForm').submit();
				});
				
			 $(document).on('click','input[name="goodsCtgCd"]', function(e) {
				var goodsCtgCd = $('input[name="goodsCtgCd"]:checked').val();
			    $.ajax({
			        url : '/goods/goodsList',
			        type : 'post',
			        data : {
			            'goodsCtgCd' : goodsCtgCd
			        },
			        dataType : 'json',
			        success : function(data) {
			            console.log(JSON.stringify(data));
			            console.log(data.length);
			            var txt1='';
			                for(var i =0;i<data.length;i++)
			                {
			              	  txt1 +='<li><div class="row"><input type="radio" class="col-xs-3" id="goodsDetail'+i+'" name="goodsDetail">' +'<label for="goodsDetail'+i+'" class="col-xs-3">' + data[i].goodsNm+" ("+data[i].goodsExpirationDate+"일)" +'</label>' + '<label for="goodsDetail'+i+'" class="col-xs-3">' + data[i].price +" (원)" + '</label><input type="hidden" id="goodsCdSelect" value="'+ data[i].goodsCd + '"><input type="hidden" id="goodsTimeCon" value="'+ data[i].goodsTimeCon + '"></div></li>';
			                }
			             
			                $('#goodsD').empty();
			                $('#goodsD').append(txt1);
			               
			            }
			   		 });
				}); 
			 $(document).on('click','input[name="goodsDetail"]', function(e){
				 var goodsCtgCd = $('input[name="goodsCtgCd"]:checked').val();
				 var goodsCtgCdNm = $('input[name="goodsCtgCd"]:checked').next().text();
				 var goodsNm = $('input:radio[name="goodsDetail"]:checked').next().text();
				 var goodsNmV = $('input:radio[name="goodsDetail"]:checked').next().text().split("시",1);
				 var goodsNmD = goodsNm.substring(goodsNm.indexOf(" (")+2,goodsNm.indexOf("일"));
				 var price = $('input[name="goodsDetail"]:checked').next().next().text();
				 var price2 = $('input[name="goodsDetail"]:checked').next().next().text().split(' ', 1);
				 var goodsCd = $('input[name="goodsDetail"]:checked').next().next().next().val();
				 var goodsTimeCon = $('input[name="goodsDetail"]:checked').next().next().next().next().val();
				console.log(goodsTimeCon);
				 
				 
				var date = new Date();
				console.log(goodsCtgCd);
				console.log(goodsNmD);
				
				var year = date.getFullYear();
				var month = date.getMonth()+1;
				var month1 = ('0' + month).slice(-2);
				var day = ('0' + date.getDate()).slice(-2);
				var hours = ('0' + date.getHours()).slice(-2); 
				var minutes = ('0' + date.getMinutes()).slice(-2);
				var seconds = ('0' + date.getSeconds()).slice(-2); 
				var orderDate = year + '-' + month1  + '-' + day + " " + hours + ':' + minutes  + ':' + seconds;
				
				
				 if(goodsCtgCd == "day"){
					date.setHours(date.getHours() + parseInt(goodsNmV));
					var year = date.getFullYear();
					var month = date.getMonth()+1;
					var month1 = ('0' + month).slice(-2);
					var day = ('0' + date.getDate()).slice(-2);
					var hours = ('0' + date.getHours()).slice(-2); 
					var minutes = ('0' + date.getMinutes()).slice(-2);
					var seconds = ('0' + date.getSeconds()).slice(-2); 
					var expirationDate = year + '-' + month1  + '-' + day + " " + hours + ':' + minutes  + ':' + seconds;
					$('.orderExpirationDate').text(expirationDate);
					$('#orderExpirationDate').val(expirationDate);
				 }else{
					date.setDate(date.getDate() + parseInt(goodsNmD));
					console.log(date);
					var year = date.getFullYear();
					var month = date.getMonth()+1;
					var month1 = ('0' +month).slice(-2);
					var day = ('0' + date.getDate()).slice(-2);
					var hours = ('0' + date.getHours()).slice(-2); 
					var minutes = ('0' + date.getMinutes()).slice(-2);
					var seconds = ('0' + date.getSeconds()).slice(-2); 
					var expirationDate = year + '-' + month1  + '-' + day + " " + hours + ':' + minutes  + ':' + seconds;
					$('.orderExpirationDate').text(expirationDate);
					$('#orderExpirationDate').val(expirationDate);
				 }
				
				
				 $('.goodsCtgCdNm').text(goodsCtgCdNm);
				 $('.goodsNm').text(goodsNm);
				 $('#goodsCd').val(goodsCd);
				 $('#price').val(price2);
				 $('#giveTime').val(goodsTimeCon);
				 $('.price').text(price);
				 $('#price').text(price);
				 $('#addO').text(goodsCd);
				 $('.orderInsertDate').text(orderDate);
				 $('#orderInsertDate').val(orderDate);
			 })
			 
			 
		}); 
			
	</script>
</th:block>



<th:block layout:fragment = "customContents">
<style>
	.select {
	    padding: 15px 20px;
	}
	.select input[type=radio]{
	    display: none;
	}
	.select input[type=radio]+label{
	    display: inline-block;
	    cursor: pointer;
	    height: 40px;
	    width: 120px;
	    border: 1px solid #333;
	    line-height: 24px;
	    text-align: center;
	    padding: 8px 0;
	    font-weight:bold;
	    font-size:13px;
	    margin-right: 10px;
	}
	.select input[type=radio]+label{
	    background-color: #fff;
	    color: #333;
	}
	.select input[type=radio]:checked+label{
	    background-color: #333;
	    color: #fff;
	}
</style>
		<div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="header">
                        <h4 class="title">이용권 구매</h4>
                    </div>
                    <div class="content">
						<form id="addOrderForm" th:action = "@{/order/addOrder}" method="post"> 
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>상품 유형 선택 </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 select">
                                	<input type="radio" id="goodsCtgCdDay" name="goodsCtgCd" th:value = "day"><label for="goodsCtgCdDay">일일권</label>                                 
                                    <input type="radio" id="goodsCtgCdTime" name="goodsCtgCd" th:value = "time"><label for="goodsCtgCdTime">시간권</label>                         
                                    <input type="radio" id="goodsCtgCdTerm" name="goodsCtgCd" th:value = "term"><label for="goodsCtgCdTerm">기간권</label>
                                </div>
                            </div>
			                <div class="row">
                                <div class="col-md-9">
                                    <h5>상품 선택 </h5>
                                </div>
                            </div>
			                <div class="content">
			                    <ul class="list-unstyled team-members" id="goodsD">
	                               
	                            </ul>
			                </div>
			                <div class="row">
                                <div class="col-md-9">
                                    <h5>상품 이용 구매 정보 </h5>
                                </div>
                            </div>
			                <div class="content">
			                    <ul class="list-unstyled team-members">
	                                <li>
	                                    <div class="row">
	                                        <div class="col-xs-6">
	                                     		       상품
	                                        </div>
	                                        <div class="col-xs-6">
	                                        	<span class="goodsCtgCdNm"></span>
	                                        	<span class="goodsNm"></span>
	                                             <input type="hidden" id="goodsCd" name="goodsCd" required>
		                                    	<input type="hidden" th:value="${session.SID}" id="userId" name="userId" required>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li>
	                                    <div class="row">
	                                        <div class="col-xs-6">
	                                      		가격
	                                        </div>
	                                        <div class="col-xs-6">
	                                        	<span class="price"></span>
	                                      		<input type="hidden" id="price" name="price" required>
	                                      		<input type="hidden" id="giveTime" name="giveTime" required>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li>
	                                    <div class="row">
	                                        <div class="col-xs-6" id="addTime">
	                                      		사용기간
	                                        </div>
	                                        <div class="col-xs-6">
	                                        	<span class="orderInsertDate"></span>
	                                        	<br>
	                                        	<span class="orderExpirationDate"></span>
	                                      		<input type="hidden" id="orderInsertDate" name="orderInsertDate" required>
	                                      		<input type="hidden" id="orderExpirationDate" name="orderExpirationDate" required>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
			                </div>
			                <div class="text-center">
		                         <button type="submit" id="orderBtn" class="btn btn-info btn-fill btn-wd">구매</button>
		                     </div>
                     		<div class="clearfix"></div>
						</form>
			        </div>
                </div>
            </div>
        </div>
</th:block>
</html>