<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	

<th:block layout:fragment="customContents">  
<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">좌석선택</h4>
			</div>
            <div class="content">
				<form id="selectSeatForm"method="post">
					
                 </form>
			</div>
		</div>
	</div>

</th:block>

</html>