<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript">
	/* 게시글 등록 유효성검사 */
	$(function(){
					function validationCheck(data){
						if(typeof data == 'undefined' || data == '' || data == null){
							return false;
						}
						return true;
					}
					
					$('#addBoardBtn').click(function(){
						var isSubmit = true;
						if($('#userId').val() == ''){
							alert("로그인이 필요합니다.");
							return false;
						}
						if($("select[name=boardCtgCd]").val() == ''){
						    alert("카테고리를 선택해주세요.");
						    isSubmit = false;
						    return false;
						}
						if($("#boardTitle").val() == ""){
						    alert("제목을 입력해주세요.");
						    $("#boardTitle").focus();
						    isSubmit = false;
						    return false;
						}
						if($("#boardContent").val() == ""){
						    alert("내용을 입력해주세요.");
						    $("#boardContent").focus();
						    isSubmit = false;
						    return false;
						}
					
						console.log('유효여부 폼전송할건지?' + isSubmit )
						
						if(isSubmit) $('#addBoardForm').submit();
					});
				});
	</script>
</th:block>


<th:block layout:fragment="customContents">  
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">게시글 작성</h4>
			</div>
            <div class="content">
				<form id="addBoardForm" th:action="@{/board/addBoard}" method="post" enctype="multipart/form-data" name="multiPart">
					<div class="row">
                         <div class="col-md-2">
                         	<div class="form-group">
                        	 	<select name="boardCtgCd" class="form-control border-input" id="ctg-select" style="margin-bottom: 25px;">
									<option value="" id="chooseCtg"> :: 카테고리  :: </option>
									<th:block th:if="${not #lists.isEmpty(boardCtgList)}" th:each="nm : ${boardCtgList}" name="boardCtg">
									    <option id="boardCtgCd" th:value="${nm.boardCtgCd}">[[${nm.boardCtgNm}]]</option>
									</th:block>
								</select>
                        	</div>
                         </div>
                         <div class="col-md-10">
                             <div class="form-group">
                                 <input type="text" class="form-control border-input" placeholder="제목을 입력해주세요" id="boardTitle" name="boardTitle" required>
                             </div>
                         </div>
                    </div>   
                    <div class="row" >     
                         <div class="col-md-12">
                             <div class="form-group">
                            	 <textarea class="form-control border-input" style="min-height: 150px;"  name="boardContent" id="boardContent" placeholder="내용을 입력해주세요"></textarea>
								 <input type="hidden" id="userId" name="userId" th:value="${session.SID}">
								 <input type="hidden" >                             	
                             </div>
                         </div>
                     </div>
                    <div class="row" >     
                    	<div class="col-md-12">
                             <div class="form-group">
                                 <label for="file">첨부파일
                                 </label>
								<input type="file" name="boardImgFile" class="form-control Board-img border-input" accept="image/*"multiple>
                             </div>
                         </div>
                     </div>
                  
                     <div class="text-center">
                         <button type="button" id="addBoardBtn" class="btn btn-info btn-fill btn-wd">등록</button>
                     </div>
                     <div class="clearfix"></div>
                 </form>
			</div>
		</div>
	</div>





</html>