<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	

<th:block layout:fragment="customJs">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
	<script>
	$(function(){
			
			var p = $('input[name="boPre"]').val();
			console.log(p);
		
			if(p == 'undefined' || p == '' || p == null){
				$('.preTitle').text('이전글이 없습니다.');
			}
			
			var n = $('input[name="boNext"]').val();
			console.log(n);
			
			if(n == 'undefined' || n == '' || n == null){
				$('.nextTitle').text('다음글이 없습니다.');
			}
			
	});
	
	
	
	
	</script>
</th:block>

<th:block layout:fragment = "customCss">
	<style>
	#list li{
		float : right;
		list-style : none;
		margin-right: 20px;
	}
	.bIcon {
		padding-right : 7px;
		margin-left: 7px;
	}
	.listBtn {
		color: #fff;
		background: #26B99A;
		border: 1px solid #169F85;
		float:  right; 
		margin: 20px;
	}
	.modifyB {
		color: #777;
		margin-right : 30px;
		padding-bottom: 20px;
	}
	.board-t {
		margin-left:15px;
		margin-top: 10px;	
		padding-bottom: 0px;
	}
	.boardCtgT {
		margin-left: 15px;
		color: red;
	}
	.boardUserId {
		width: 50%;
		float: left;
		margin-left: 10px;
	}
	</style>


</th:block>
<th:block layout:fragment = "customContents">
		<div class="content">
            <div class="container-fluid">
            	<div class="row">
                  <div class="col-md-12" th:if="${not #lists.isEmpty(board)}" th:each="l : ${board}">
                        <div class="card">
                            <div class="content">
	                            <div class="row">
				                    <ul class="nav navbar-nav navbar-right">
				                        <li class="dropdown">
				                              <a href="#" class="dropdown-toggle modifyB" data-toggle="dropdown">
													<i class="ti-more"></i>
				                              </a>
				                              <ul class="dropdown-menu">
				                                <li  th:if="${session.SID eq l.userId}"><a th:href="@{/board/modifyBoard(boardCd=${l.boardCd})}">수정</a></li>
				                                <li  th:if="${session.SID eq l.userId}"><a>삭제</a></li>
				                                <li th:if="${session.SID =='id001'}"><a>답글</a></li>
				                              </ul>
				                        </li>
				                    </ul>
				                    <div class="title">
				                    	<p class="boardCtgT"> [[${l.boardCtg.boardCtgNm}]]</p>
		                                <h4 class="board-t">[[${l.boardTitle}]]</h4>
				                    </div>
				                </div>
				                <div class="row">    
				                    <p class="boardUserId"><i class="ti-pencil bIcon"></i>[[${l.userId}]]</p>
	                                <ul id="list">
	                                	<li ><p><i class="ti-eye bIcon"></i>[[${l.boardViews}]]</p></li>
	                                	<li ><p><i class="ti-time bIcon"></i>[[${l.boardDate}]]</p></li>
	                                </ul>
	                            </div>
	                            <hr>
                            	 <div class="row" style="padding-left: 20px; padding-right: 20px;">
	                               <div class="boardContent">
	                               		<h5>[[${l.boardContent}]]</h5>
	                               </div>
                            	 </div>
                               	<div class="row" style="padding-left: 20px; padding-right: 20px;">
				                    <div class="product__details__pic">
				                        <div class="product__details__pic__left product__thumb nice-scroll">
				                        	<th:block th:if="${not #lists.isEmpty(l.tFile)}" th:each="t, i : ${l.tFile}">
					                            <a class="pt active" th:data-img="${t.representImg}" th:href="@{#product-} + ${i.index+1}">
					                                <img th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
					                            </a>
				                            </th:block>
				                        </div>
				                        <div class="product__details__slider__content">
				                            <div class="product__details__pic__slider owl-carousel">
				                            	<th:block th:if="${not #lists.isEmpty(l.tFile)}" th:each="t, i : ${l.tFile}">
						                                <img th:data-hash="@{product-} + ${i.index+1}" class="product__big__img" th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
						                        </th:block>
				                            </div>
				                        </div>
				                    </div>
            					 </div> 
            					 <div class="row" style="padding-left: 10px; padding-right: 10px;">
	                               <div class="boardList">
	                               		<button type="button" class="btn listBtn" th:onclick = "|location.href='@{/board/boardList}'|">목 록</button>
	                               </div>
                            	 </div>
            				 </div>
            			 </div>
            		</div>
            		<div class="col-md-12">			 
            			<div class="card">			 
            				<div class="content">	 
            					 <div class="container-fluid">
		            				 <div class="row">
		            				 	<div>
											<div>
												<span>[ 이전글 ]</span>
												<span class="preTitle">
													<span th:if="${not #lists.isEmpty(boardPre)}" th:each="p : ${boardPre}">
														<a th:href="@{/board/boardDetail(boardCd=${p.boardCd})}" th:text="${p.boardTitle}"></a>
														<input type="hidden" name="boPre" th:value="${p.boardCd}">
													</span>
	                                      		</span>
											</div>
										</div>
		            				 </div>
		            				 <hr>
		            				 <div class="row">
		            				 	<div>
											<div>
												<span>[ 다음글 ]</span>
												<span class="nextTitle">
													<span  th:if="${not #lists.isEmpty(boardNext)}" th:each="n : ${boardNext}">
														<a th:href="@{/board/boardDetail(boardCd=${n.boardCd})}" th:text="${n.boardTitle}"></a>
		                                      			<input type="hidden" name="boNext" th:value="${n.boardCd}">
	                                      			</span>
	                                      		</span>
											</div>
										</div>
		            				 </div>
            					 </div>
                             </div>
                        </div>
                    </div>
           		</div>
            </div>
        </div>
</th:block>
</html>