<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	

<th:block layout:fragment="customJs">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
	<script>
	$(function(){
			
			var p = $('input[name="boPre"]').val();
			console.log(p);
		
			if(p == 'undefined' || p == '' || p == null){
				$('.preTitle').text('이전글이 없습니다.');
			}
			
			var n = $('input[name="boNext"]').val();
			console.log(n);
			
			if(n == 'undefined' || n == '' || n == null){
				$('.nextTitle').text('다음글이 없습니다.');
			}
			
			var $addCommentForm = $('#addCommentForm');
			
	
			$('input[name="rep"]').click(function(){
				var commentCdV = $('input:radio[name="rep"]:checked').next().val();
				var parentV = $('input:radio[name="rep"]:checked').next().next().val();
				
				$('#boardCommentCdV').val(commentCdV);
				$('#parentCdV').val(parentV);
				
				console.log(commentCdV);
				console.log(parentV);
			});
			
			$addCommentForm.on('click','#addCommentBtn', function(){
				var userId2 = $('#userIdC').val();
				var commentDetail = $('input[name="boardCommentDetail"]').val();
				
				if(userId2 == ''){
					alert("로그인 후 등록 가능합니다.");
					return false;
				}else if(commentDetail == ''){
					alert("댓글 내용을 입력해주세요.");
					return false;
					
				}
				
				 $addCommentForm.attr('action', '/board/addBoardComment').submit();			
				
			});
			
	});
	
	
	
	
	</script>
</th:block>

<th:block layout:fragment = "customCss">
	<style>
	#list li{
		float : right;
		list-style : none;
		margin-right: 20px;
	}
	.bIcon {
		padding-right : 7px;
		margin-left: 7px;
	}
	.listBtn {
		color: #fff;
		background: #26B99A;
		border: 1px solid #169F85;
		float:  right; 
		margin: 20px;
	}
	.modifyB {
		color: #777;
		margin-right : 30px;
		padding-bottom: 20px;
	}
	.board-t {
		margin-left:15px;
		margin-top: 10px;	
		padding-bottom: 0px;
	}
	.boardCtgT {
		margin-left: 15px;
		color: red;
	}
	.boardUserId  {
		width: 50%;
		float: left;
		margin-left: 10px;
	}
	.commendT{
		float: left;
		margin-left: 10px;
	}
	.leave-btn {
		margin: 10px 10px 15px 0px;
	}
	.liHover:hover{
		background-color: #66615B;
	}
	img {
	  width: 80%;
	  height: 80%;
	  object-fit: cover;
	}
	</style>


</th:block>
<th:block layout:fragment = "customContents">
		<div class="content">
            <div class="container-fluid">
            	<div class="row">
                  <div class="col-md-12" th:if="${not #lists.isEmpty(board)}" th:each="l : ${board}" style="margin-bottom: 20px;">
                        <div class="card">
                            <div class="content" style="padding-bottom: 30px;">
	                            <div class="row">
				                    <ul class="nav navbar-nav navbar-right">
				                        <li class="dropdown">
				                              <a href="#" class="dropdown-toggle modifyB" data-toggle="dropdown">
													<i class="ti-more"></i>
				                              </a>
				                              <ul class="dropdown-menu">
				                                <li  th:if="${session.SID eq l.userId}"><a th:href="@{/board/modifyBoard(boardCd=${l.boardCd})}">수정</a></li>
				                                <li  th:if="${session.SID eq l.userId}"><a>삭제</a></li>
				                              </ul>
				                        </li>
				                    </ul>
				                    <div class="title">
				                    	<p class="boardCtgT"> [[${l.boardCtg.boardCtgNm}]]</p>
		                                <h4 class="board-t">[[${l.boardTitle}]]</h4>
				                    </div>
				                </div>
				                <div class="row">    
				                    <p class="boardUserId"><i class="ti-pencil bIcon"></i>[[${l.userId}]]</p>
	                                <ul id="list">
	                                	<li ><p><i class="ti-eye bIcon"></i>[[${l.boardViews}]]</p></li>
	                                	<li ><p><i class="ti-time bIcon"></i>[[${l.boardDate}]]</p></li>
	                                </ul>
	                            </div>
	                            <hr>
                            	 <div class="row" style="padding-left: 20px; padding-right: 20px;">
	                               <div class="boardContent">
	                               		<h5>[[${l.boardContent}]]</h5>
	                               </div>
                            	 </div>
                               	<div class="row" style="padding-left: 20px; padding-right: 20px;">
				                    <div class="boardImgList">
				                        <div class="boardImg">
			                            	<th:block th:if="${not #lists.isEmpty(l.tFile)}" th:each="t, i : ${l.tFile}">
					                                <img th:data-hash="@{product-} + ${i.index+1}" class="product__big__img" th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
					                        </th:block>
				                        </div>
				                    </div>
            					 </div> 
            					 <div class="row" style="padding-left: 10px; padding-right: 10px;">
	                               <div class="boardList">
	                               		<button type="button" class="btn listBtn" th:onclick = "|location.href='@{/board/boardList}'|">목 록</button>
	                               </div>
                            	 </div>
                            	 <hr>
                            	 <div class="row">
				                    <div class="title">
		                                <h5 class="commendT" th:text="${commentCount} + ' COMMENT'"></h5>
		                                <a data-toggle="modal" data-target="#addCommentModal" class="leave-btn" style="float : right; color: #777;">댓글 등록</a>
				                    </div>
				                </div>
				                <div class="row" th:if="${not #lists.isEmpty(commentList)}" th:each="c:${commentList}" style="margin-left: 10px">    
					                <div class="row" th:if="${c.paOrder == null}" style="margin-left: 10px">    
					                	<ul class="nav navbar-nav navbar-right">
					                        <li class="dropdown">
					                              <a href="#" class="dropdown-toggle modifyB" data-toggle="dropdown">
														<i class="ti-more"></i>
					                              </a>
					                              <ul class="dropdown-menu">
					                                <li  th:if="${session.SID eq c.userId}"><a style="color: #9A9A9A; font-size: 15px;">수정</a></li>
					                                <li  th:if="${session.SID eq c.userId}"><a style="color: #9A9A9A; font-size: 15px;">삭제</a></li>
					                                <li class="liHover">
					                                	<label style="display: block; padding: 10px 15px;">답글
						                                	<a class="reply" data-toggle="modal" data-target="#addCommentModal" style="color: #777;">
						                                		<input  type="radio" name="rep" style="opacity: 0;">
						                                		<input type="hidden" class="comCd" name="boardCommentCd" th:value="${c.boardCommentCd}">
																<input type="hidden" class="paCd" name="parentCd" th:value="${c.parentCd}">
						                                	</a>
					                                	</label>
					                                </li>
					                              </ul>
					                        </li>
					                    </ul>
					                    <h5 style="font-size: medium;" th:text="${c.userId}"></h5>
				                        <p style="font-size: 15px;" th:text="${c.boardCommentDetail}"></p>
		                                <ul style="list-style: none; float: left; padding-left: 0px;">
		                                	<li style="float: left; padding-right: 5px;"><p style="font-size: 12px;">[[${c.boardCommentDate}]]</p></li>
		                                	<li style="float: left; font-size: small;" id="removeComment">
												<input type="hidden" id="sId" name="sId" th:value="${session.SID}">
												<input type="hidden" id="userId" name="userId" th:value="${c.userId}">
											</li>
		                                </ul>
		                            </div>
					                <div class="row" th:unless="${c.paOrder == null}" style="margin-left: 10px;">    
					                	<div style="width: 2%; float: left;">
					                		<h5 style="font-size: medium;"><i class="ti-arrow-right"></i></h5>
					                	</div>
					                	<div style="width: 98%; float: right;">
						                	<ul class="nav navbar-nav navbar-right">
						                        <li class="dropdown">
						                              <a href="#" class="dropdown-toggle modifyB" data-toggle="dropdown">
															<i class="ti-more"></i>
						                              </a>
						                              <ul class="dropdown-menu">
						                                <li  th:if="${session.SID eq c.userId}"><a>수정</a></li>
						                                <li  th:if="${session.SID eq c.userId}"><a>삭제</a></li>
						                                <li class="liHover">
						                                	<label style="display: block; padding: 10px 15px;">답글
							                                	<a class="reply" data-toggle="modal" data-target="#addCommentModal" style="color: #777;">
							                                		<input  type="radio" name="rep" style="opacity: 0;">
							                                		<input type="hidden" class="comCd" name="boardCommentCd" th:value="${c.boardCommentCd}">
																	<input type="hidden" class="paCd" name="parentCd" th:value="${c.parentCd}">
							                                	</a>
						                                	</label>
						                                </li>
						                              </ul>
						                        </li>
						                    </ul>
						                    <h5 style="font-size: medium;" th:text="${c.userId}"></h5>
					                        <p style="font-size: 15px;" th:text="${c.boardCommentDetail}"></p>
			                                <ul style="list-style: none; float: left; padding-left: 0px;">
			                                	<li style="float: left; padding-right: 5px;"><p style="font-size: 12px;">[[${c.boardCommentDate}]]</p></li>
			                                	<li style="float: left; font-size: small;" id="removeComment">
													<input type="hidden" id="sId" name="sId" th:value="${session.SID}">
													<input type="hidden" id="userId" name="userId" th:value="${c.userId}">
												</li>
			                                </ul>
					                	</div>
		                            </div>
	                            </div>
	                            <div class="text-center" th:unless="${not #lists.isEmpty(commentList)}" style="font-size: smaller;">
									<h5>댓글이 없습니다.</h5>
								</div>
            				 </div>
            			 </div>
            		</div>
                  
            		<div class="col-md-12">			 
            			<div class="card">			 
            				<div class="content">	 
            					 <div class="container-fluid">
		            				 <div class="row">
		            				 	<div>
											<div>
												<span>[ 이전글 ]</span>
												<span class="preTitle">
													<span th:if="${not #lists.isEmpty(boardPre)}" th:each="p : ${boardPre}">
														<a th:href="@{/board/boardDetail(boardCd=${p.boardCd})}" th:text="${p.boardTitle}"></a>
														<input type="hidden" name="boPre" th:value="${p.boardCd}">
													</span>
	                                      		</span>
											</div>
										</div>
		            				 </div>
		            				 <hr>
		            				 <div class="row">
		            				 	<div>
											<div>
												<span>[ 다음글 ]</span>
												<span class="nextTitle">
													<span  th:if="${not #lists.isEmpty(boardNext)}" th:each="n : ${boardNext}">
														<a th:href="@{/board/boardDetail(boardCd=${n.boardCd})}" th:text="${n.boardTitle}"></a>
		                                      			<input type="hidden" name="boNext" th:value="${n.boardCd}">
	                                      			</span>
	                                      		</span>
											</div>
										</div>
		            				 </div>
            					 </div>
                             </div>
                        </div>
                    </div>
           		</div>
            </div>
        </div>
        <!-- modal -->
		<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form id="addCommentForm" th:action="@{/board/addBoardComment}" method="post">
				<div class="modal-dialog" role="document">
			 		<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">댓글 작성</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<div class="col-md-3 col-sm-3">
									<label class="control-label" for="userId">아이디</label>
								</div>
								<div class="col-md-9 col-sm-9">
									<input type="text" class="form-control" name="userId" id="userIdC" readonly="readonly" th:value="${session.SID}">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-3 col-sm-3">
									<label class="control-label" for="boardCommentDetail">댓글</label>
								</div>
								<div class="col-md-9 col-sm-9">
									<input type="hidden" th:value="${board.boardCd}" name="boardCd">
									<input type="hidden" id="boardCommentCdV" name="boardCommentCd">
									<input type="hidden" id="parentCdV" name="parentCd">
									<input type="text" class="form-control" id="boardCommentDetail" name="boardCommentDetail" placeholder="작성해주세요.">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<button type="reset" class="btn btn-primary" data-dismiss="modal">취소</button>
								<button type="button" class="btn btn-danger" id="addCommentBtn">저장</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- modal end -->			
</th:block>
</html>