<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	


<th:block layout:fragment = "customContents">
	<div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">이용권 사용 내역</h4>
                  </div>
                  <div class="content table-responsive table-full-width" style="padding-bottom: 40px;">
                      <table class="table table-striped" style="margin-bottom: 5px;">
                          <thead style="font: bold;">
                          	<tr>
	                            <th>유형</th>
	                          	<th>조건</th>
	                          	<th>입장시간</th>
	                          	<th>퇴장시간</th>
	                          	<th>이용시간</th>
	                          	<th>만료일</th>
	                          	<th>상태</th>
                          	</tr>
                          </thead>
                          <tbody>
                              <tr th:if="${not #lists.isEmpty(usageListById)}" th:each="l : ${usageListById}">
                              	<td th:text="${l.goodsCtg.goodsCtgNm}"></td>
                              	<td th:text="${l.goods.goodsNm}"></td>
                              	<td th:text="${l.admissionTime}"></td>
                              	<td th:text="${l.leaveTime}"></td>
                              	<td th:text="${l.useTime}"></td>
                              	<td th:text="${l.orderExpirationDate}"></td>   
                              	<td th:if="${l.leaveTime == null}">사용중</td>
    							<td th:unless="${l.leaveTime == null}">퇴장</td>                        
                              </tr>
                              <tr th:unless="${not #lists.isEmpty(usageListById)}">
								<td colspan="6">이용내역 없습니다.</td>
							  </tr>	
                          </tbody>
                      </table>
                      <div class="col-lg-12 text-center">
                        <div class="pagination__option" th:if="${not #lists.isEmpty(usageListById)}">
							<a th:if="${currentPage > 1}" th:href="@{/user/userDetail(currentPage=${currentPage - 1})}"><i class="fa fa-angle-left"></i></a>
							<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
								<label th:if="${currentPage eq num}" th:text="${(num<10) ? '0' + num  :  num }"></label>
								<a th:unless="${currentPage eq num}" th:href="@{/user/userDetail(currentPage=${num})}" th:text="${(num<10) ? '0' + num  :  num }"></a>
							</th:block>
							<a th:if="${currentPage < lastPage}" th:href="@{/user/userDetail(currentPage=${currentPage + 1})}"><i class="fa fa-angle-right"></i></a>
						</div>
                    </div>
                  </div>
              </div>
          </div>
		</div>
	</div>
	</div>
</th:block>

</html>