<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	


<th:block layout:fragment="customCss">
<style>
.listSty {
 	font-size:large;
 	margin-bottom: 10px;
}
.selectGoods{
	cursor: pointer;
}
</style>

</th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
	<script>
	
	$(function(){
		function validationCheck(data){
			if(typeof data == 'undefined' || data == '' || data == null){
				return false;
			}
			return true;
		}
		 //로그인 확인
			var isSubmit = true;
			var userId = $('input[name="userId"]').val();
			console.log(userId);
			
			if(userId == ''){
				alert("로그인이 필요합니다.");
				return false;
			}
		
  	});
	
	</script>

 
</th:block>

<th:block layout:fragment="customContents">  
	           <div class="container-fluid">
               <input type="hidden" name="userId" th:value="${session.SID}">
                <div class="row" th:if="${not #lists.isEmpty(availableGoodsList)}" th:each="l : ${availableGoodsList}" th:onclick="|location.href='@{/seat/seatSelection(orderCd=${l.orderCd}, goodsCd=${l.goodsCd}, orderExpirationDate=${l.orderExpirationDate}, giveTime=${l.order.giveTime})}'|">
                    <div class="col-lg-3 col-sm-3" style="width: 100%">
                        <div class="card">
                            <div class="content selectGoods">
                                <div class="row" >
                                    <div class=" col-xs-5">
                                        <div style="margin-left: 20px; font-size:xx-large; font-weight:bolder; margin-top: 5px;">
                                            <h7 th:text="${l.goodsCtg.goodsCtgNm} + ${l.goods.goodsNm}"></h7>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row listSty"> 
                                 <hr />
                                 	<div class="col-xs-6">
                                   		 남은시간  
                                      </div>
                                      <div class="col-xs-6" th:text="${l.order.giveTime}">
                                           
                                      </div>
                                 </div>
                                 <div class="row listSty">
                                 
                                 	<div class="col-xs-6">
                                   		 만료일  
                                      </div>
                                      <div class="col-xs-6" th:text="${l.order.orderExpirationDate}">
                                           
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
             	 <div class="content" th:unless="${not #lists.isEmpty(availableGoodsList)}" style="font-size: large;">
					사용할 수 있는 이용권이 없습니다.
					<br>
					<a th:href="@{/order/addOrder}">이용권 구매하러 가기</a>
				</div>                        
            </div>
</th:block>
</html>