<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studycf.mapper.BoardMapper">
	<resultMap type="Board" 						id="boardResultMap">
		<id column="board_cd"					property="boardCd"/>
		<result column="board_ctg_cd"				property="boardCtgCd"/>
		<result column="user_id"					property="userId"/>
		<result column="board_title"			property="boardTitle"/>
		<result column="board_content"			property="boardContent"/>
		<result column="board_date"			property="boardDate"/>
		<result column="board_views"			property="boardViews"/>
		<result column="board_comment_num"	property="boardCommentNum"/>
		<association property="boardCtg" 	javaType="BoardCtg">
			<id 	 column="board_ctg_cd" 	property="boardCtgCd"/>
			<result  column="board_ctg_nm" 	property="boardCtgNm"/>
		</association>
		<collection property="tFile" ofType="TFile">
			<id		column="file_cd"				property="fileCd"/>
			<result	column="original_file_nm"		property="originalFileName"/>
			<result	column="stored_file_path"		property="storedFilePath"/>
			<result	column="file_size"				property="fileSize"/>
			<result column="re_file_name"			property="reFileName"/>
			<result	column="uploader_id"			property="uploaderId"/>
			<result	column="upload_date"			property="uploadDate"/>
			<result	column="updator_id"				property="updatorId"/>
			<result	column="updated_date"			property="updatedDate"/>
			<result	column="represent_img"		property="representImg"/>
		</collection>
	</resultMap>
	<!-- 다음글 보기 -->
	<select id="getBoardNext" parameterType="String" resultMap="boardResultMap">
		<![CDATA[
		SELECT
		    board_cd,
		    board_title
		 FROM
		    board
		 WHERE
		  board_cd =
		    (SELECT board_cd FROM board WHERE board_cd > #{boardCd}  ORDER BY board_cd LIMIT 1);
		]]>
	</select>
	
	<!-- 이전글 보기 -->
	<select id="getBoardPre" parameterType="String" resultMap="boardResultMap">
		<![CDATA[
		SELECT
		    board_cd,
		    board_title
		 FROM
		    board
		 WHERE
		  board_cd =
		    (SELECT board_cd FROM board WHERE board_cd < #{boardCd}  ORDER BY board_cd DESC LIMIT 1);
		]]>
	</select>
		
	
	<!-- 게시글 상세보기 -->
	<select id="getBoardDetail" parameterType="String" resultMap="boardResultMap">
		SELECT 
			b.board_cd
			, b.board_ctg_cd
			, b.user_id
			, b.board_title
			, b.board_content
			, b.board_date
			, b.board_views
			, b.board_comment_num
			, bc.board_ctg_nm
			, sub.file_cd
			, sub.original_file_nm
			, sub.file_size
			, sub.uploader_id
			, sub.upload_date
			, sub.updator_id
			, sub.updated_date
			, sub.represent_img
			, sub.deleted_yn
			, sub.re_file_name
			, sub.board_cd
			, sub.stored_file_path
		FROM 
			board AS b
		left JOIN
			(select
				st.file_cd
				, st.original_file_nm
				, st.file_size
				, st.uploader_id
				, st.upload_date
				, st.updator_id
				, st.updated_date
				, st.represent_img
				, st.deleted_yn
				, st.re_file_name
				, sr.board_cd
				,st.stored_file_path
			from
				t_file AS st
			INNER join
				rel_file_with_board AS sr
			ON
				st.file_cd = sr.file_cd) AS sub
		on
			sub.board_cd = b.board_cd
		inner join
		board_ctg as bc
		on
		b.board_ctg_cd = bc.board_ctg_cd	
		<trim prefix="WHERE">
			<if test="boardCd != null and boardCd != ''">
				b.board_cd = #{boardCd}
			</if>
		</trim>
	</select>
	
	<!-- 게시글 조회수 -->
	<update id="boardViewUpdate" parameterType="String">
		UPDATE 
			board
		SET
			board_views = board_views+1
		<trim prefix="WHERE">
			<if test="boardCd != null and boardCd != ''">
				board_cd = #{boardCd}
			</if>
		</trim>
	</update>
	
	<!-- 게시글 목록 -->
	<select id="getBoardList" parameterType="map" resultType="map" resultMap="boardResultMap">
		SELECT
			b.board_cd					
			,b.board_ctg_cd		
			,bc.board_ctg_nm
			,b.user_id						
			,b.board_title				
			,b.board_content			
			,b.board_date				
			,b.board_views				
			,b.board_comment_num	
		FROM
			board AS b
			inner join
			board_ctg as bc
			on
			b.board_ctg_cd = bc.board_ctg_cd
		ORDER BY board_cd DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	<!-- 게시글 총 튜플 수 -->
	<select id="getBoardCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			board;
	</select>
	
	
	<!-- 게시글 작성 -->
	<insert id="addBoard" parameterType="Board">
		<selectKey resultType="String" keyProperty="boardCd" order="BEFORE">
			SELECT sf_new_board_cd()
		</selectKey>
		INSERT INTO board
			(board_cd
			, board_ctg_cd
			, user_id
			, board_title
			, board_content
			, board_date
			, board_views
			, board_comment_num)
		VALUES(
			sf_new_board_cd()
			, #{boardCtgCd}
			, #{userId}
			, #{boardTitle}
			, #{boardContent}
			, NOW()
			, #{boardViews}
			, 0);
	</insert>
	
	
	<!-- 게시글 카테고리 조회 -->
	<select id="getBoardCtg" parameterType="String" resultMap="boardResultMap">
		SELECT 
			bc.board_ctg_cd
			, bc.board_ctg_nm
		FROM 
			board_ctg AS bc;
	</select>
	
	


	

	
	

	
</mapper>