<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studycf.mapper.BoardMapper">
	<resultMap type="Board" 						id="boardResultMap">
		<id 	column="board_cd"					property="boardCd"/>
		<result column="board_ctg_cd"				property="boardCtgCd"/>
		<result column="user_id"					property="userId"/>
		<result column="board_title"				property="boardTitle"/>
		<result column="board_content"				property="boardContent"/>
		<result column="board_date"					property="boardDate"/>
		<result column="board_views"				property="boardViews"/>
		<result column="board_state"				property="boardState"/>
		<association property="boardCtg" 	javaType="BoardCtg">
			<id 	 column="board_ctg_cd" 	property="boardCtgCd"/>
			<result  column="board_ctg_nm" 	property="boardCtgNm"/>
		</association>
		<collection property="tFile" ofType="TFile">
			<id		column="file_cd"				property="fileCd"/>
			<result	column="original_file_nm"		property="originalFileName"/>
			<result	column="stored_file_path"		property="storedFilePath"/>
			<result	column="file_size"				property="fileSize"/>
			<result column="re_file_name"			property="reFileName"/>
			<result	column="uploader_id"			property="uploaderId"/>
			<result	column="upload_date"			property="uploadDate"/>
			<result	column="updator_id"				property="updatorId"/>
			<result	column="updated_date"			property="updatedDate"/>
			<result	column="represent_img"			property="representImg"/>
		</collection>
		<collection property="relFileWithBoard" ofType="Map">
			<result	column="board_cd"	property="boardCd"/>
			<result	column="file_cd"			property="fileCd"/>
		</collection>
	</resultMap>
	<resultMap type="BoardComment" 					id="boardCommentResultMap">
		<id		column="board_comment_cd"			property="boardCommentCd"/>
		<result column="board_cd"					property="boardCd"/>
		<result column="user_id"					property="userId"/>
		<result column="board_comment_detail"		property="boardCommentDetail"/>
		<result column="board_comment_date"			property="boardCommentDate"/>
		<result column="board_comment_state"		property="boardCommentState"/>
		<result column="parent_cd"					property="parentCd"/>
		<result column="pa_order"					property="paOrder"/>
	</resultMap>
	

	<update id="modifyComment" parameterType="BoardComment">
		/*댓글 수정*/
		UPDATE
			board_comment
		<trim prefix="SET" prefixOverrides=",">
			<if test="boardCommentDetail != null and boardCommentDetail != ''">
				board_comment_detail = #{boardCommentDetail}
			</if>		
			<if test="boardCommentState != null and boardCommentState != ''">
				,board_comment_state = #{boardCommentState}
			</if>		
		</trim>	
		WHERE
			board_comment_cd = #{boardCommentCd}
	
	</update>


	<select id="commentCount" resultType="int">
		/*게시글 댓글 수 */
		SELECT
			COUNT(*)
		FROM
			board_comment
		Where
			board_cd = #{boardCd} and board_comment_state = 'Y';
	</select>

	<select id="getBoardCommentList" parameterType="String" resultMap="boardCommentResultMap">
		/*게시글 댓글 조회*/
		SELECT 
			c.board_comment_cd
			, c.board_cd
			, c.user_id
			, c.board_comment_detail
			, c.board_comment_date
			, c.board_comment_state
			, c.parent_cd
			, c.pa_order
		FROM 
			board_comment AS c
		<trim prefix="WHERE" prefixOverrides="and">
			<if test="boardCd != null and boardCd != ''">
				c.board_cd = #{boardCd}
			</if>
			<if test="parentCd != null and parentCd != ''">
				and c.parent_cd = #{parentCd}
			</if>
		</trim>
		order by c.parent_cd, c.pa_order;
	</select>
	
	
	<insert id="addBoardComment" parameterType="boardComment">
		/*게시글 댓글 등록*/
		<selectKey resultType="String" keyProperty="boardCommentCd" order="BEFORE">
			SELECT sf_new_board_comment_cd()
		</selectKey>
		INSERT INTO board_comment		 
			(board_comment_cd
			,board_cd
			,user_id
			,board_comment_detail
			,board_comment_state
			,board_comment_date
			,parent_cd
			,pa_order)
		VALUES(
			sf_new_board_comment_cd()
			,#{boardCd}
			,#{userId}
			,#{boardCommentDetail}
			,'Y'
			,NOW()
			,#{parentCd}
			,#{paOrder}
		);
	</insert>
	
	<update id="modifyBoard" parameterType="Board">
		/*게시글 수정*/
		UPDATE 
			board
		<trim prefix="SET" prefixOverrides=",">
			<if test="boardCtgCd != null and boardCtgCd != ''">
				board_ctg_cd = #{boardCtgCd}
			</if>
			<if test="boardTitle != null and boardTitle != ''">
				, board_title = #{boardTitle}
			</if>
			<if test="boardContent != null and boardContent != ''">
				, board_content = #{boardContent}
			</if>
			<if test="boardState != null and boardState != ''">
				, board_state = #{boardState}
			</if>
		</trim>
		WHERE
			board_cd = #{boardCd};
	</update>
	
	<select id="getBoardNext" parameterType="String" resultMap="boardResultMap">
		/*게시글 다음글 보기*/
		<![CDATA[
		SELECT
		    board_cd,
		    board_title
		 FROM
		    board
		 WHERE
		  board_cd =
		    (SELECT board_cd FROM board WHERE board_cd > #{boardCd}  ORDER BY board_cd LIMIT 1);
		]]>
	</select>
	
	<select id="getBoardPre" parameterType="String" resultMap="boardResultMap">
		/*현재 게시글의 이전글 보기*/
		<![CDATA[
		SELECT
		    board_cd,
		    board_title
		 FROM
		    board
		 WHERE
		  board_cd =
		    (SELECT board_cd FROM board WHERE board_cd < #{boardCd}  ORDER BY board_cd DESC LIMIT 1);
		]]>
	</select>
		
	
	<select id="getBoardDetail" parameterType="String" resultMap="boardResultMap">
		/*게시글 상세보기*/
		SELECT
				b.board_cd
				,b.board_ctg_cd
				,b.user_id
				,b.board_title
				,b.board_content
				,b.board_date
				,b.board_views
				,bc.board_ctg_nm
				,rb.file_cd
				,t.original_file_nm
				,t.stored_file_path
				,t.file_size
				,t.represent_img
				,t.deleted_yn
				,t.re_file_name
		FROM
			board AS b
			INNER join
			board_ctg AS bc
			on
			b.board_ctg_cd = bc.board_ctg_cd
			left JOIN
			rel_file_with_board AS rb
			on
			b.board_cd = rb.board_cd
			left JOIN 
			t_file AS t
			on
			t.file_cd = rb.file_cd	
		<trim prefix="WHERE">
			<if test="boardCd != null and boardCd != ''">
				b.board_cd = #{boardCd}
			</if>
		</trim>
	</select>
	

	<update id="boardViewUpdate" parameterType="String">
		/*게시글 조회수 */
		UPDATE 
			board
		SET
			board_views = board_views+1
		<trim prefix="WHERE">
			<if test="boardCd != null and boardCd != ''">
				board_cd = #{boardCd}
			</if>
		</trim>
	</update>
	
	<select id="getBoardList" parameterType="map" resultType="map" resultMap="boardResultMap">
		/*게시글 목록*/
		SELECT
			b.board_cd					
			,b.board_ctg_cd		
			,bc.board_ctg_nm
			,b.user_id						
			,b.board_title				
			,b.board_content			
			,b.board_date				
			,b.board_views			
			,b.board_state	
		FROM
			board AS b
			inner join
			board_ctg as bc
			on
			b.board_ctg_cd = bc.board_ctg_cd
		<trim prefix="WHERE">
			<if test="boardCtgCd != null and boardCtgCd != ''">
			 	b.board_ctg_cd = #{boardCtgCd} and
			</if>
			 board_state = 'Y'
		</trim>	
		ORDER BY board_cd DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	<select id="getBoardCount" resultType="int">
		/*게시글 총 튜플 수*/	
		SELECT
			COUNT(*)
		FROM
			board;
	</select>
	
	
	<insert id="addBoard" parameterType="Board">
		/*게시글 등록*/
		<selectKey resultType="String" keyProperty="boardCd" order="BEFORE">
			SELECT sf_new_board_cd()
		</selectKey>
		INSERT INTO board
			(board_cd
			, board_ctg_cd
			, user_id
			, board_title
			, board_content
			, board_date
			, board_views
			, board_state)
		VALUES(
			sf_new_board_cd()
			, #{boardCtgCd}
			, #{userId}
			, #{boardTitle}
			, #{boardContent}
			, NOW()
			, 0
			, 'Y');
	</insert>
	
	
	<select id="getBoardCtg" parameterType="String" resultMap="boardResultMap">
		/*게시글 카테고리*/
		SELECT 
			bc.board_ctg_cd
			, bc.board_ctg_nm
		FROM 
			board_ctg AS bc;
	</select>
	
	


	

	
	

	
</mapper>