<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="studycf.mapper.GoodsMapper">
	<resultMap type="Goods" id="GoodsResultMap">
		<id		column="goods_cd"				property="goodsCd"/>
		<result column="goods_ctg_cd"			property="goodsCtgCd"/>
		<result column="goods_nm"				property="goodsNm"/>
		<result column="goods_time_con"			property="goodsTimeCon"/>
		<result column="price"					property="price"/>
		<result column="goods_expiration_date"	property="goodsExpirationDate"/>
		<result column="goods_insert_date"		property="goodsInsertDate"/>
		<association property="goodsCtg"		javaType="GoodsCtg" >
			<id		column="goods_ctg_cd"		property="goodsCtgCd"/>
			<result	column="goods_ctg_nm"		property="goodsCtgNm"/>
		</association>
	</resultMap>

	
	<insert id="addGoods" parameterType="Goods">
		<selectKey resultType="String" keyProperty="goodsCd" order="BEFORE">
			SELECT sf_new_goods_cd()
		</selectKey>
		/*이용권 등록*/
		INSERT INTO goods
			(goods_cd
			,goods_ctg_cd
			,goods_nm
			,goods_time_con
			,price
			,goods_expiration_date
			,goods_insert_date)
			VALUES (
				sf_new_goods_cd()
				,#{goodsCtgCd}
				,#{goodsNm}
				,#{goodsTimeCon}
				,#{price}
				,#{goodsExpirationDate}
				,NOW());
	</insert>
	
	
	<select id="getGoodsList" resultType="Goods" resultMap="GoodsResultMap">
		/*이용권 목록 조회*/
		SELECT 
			g.goods_cd						
			,g.goods_ctg_cd					
			,c.goods_ctg_nm					
			,g.goods_nm						
			,g.goods_time_con				
			,g.price						
			,g.goods_expiration_date		
			,g.goods_insert_date			
		FROM 
			goods AS g
			INNER JOIN
			goods_ctg AS c
			ON
			g.goods_ctg_cd = c.goods_ctg_cd;
	</select>











</mapper>  