<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="studycf.mapper.GoodsManagementMapper">
	<resultMap type="GoodsManagement" id="GoodsManagementResultMap">
		<id		column="goods_management_cd"				property="goodsManagementCd"/>
		<result column="user_id"							property="userId"/>
		<result column="order_cd"						property="orderCd"/>
		<result column="goods_cd"							property="goodsCd"/>
		<result column="seat_cd"							property="seatCd"/>
		<result column="admission_time"						property="admissionTime"/>
		<result column="leave_time"							property="leaveTime"/>
		<result column="use_time"							property="useTime"/>
		<result column="remaining_time"						property="remainingTime"/>
		<result column="order_expiration_date"				property="orderExpirationDate"/>
		<association property="order" javaType="Order">
			<id		column="order_cd"				property="orderCd"/>
			<result column="goods_cd"			property="goodsCd"/>
			<result column="user_id"			property="userId"/>
			<result column="give_time"			property="giveTime"/>
			<result column="price"					property="price"/>
			<result column="order_insert_date"		property="orderInsertDate"/>
			<result column="order_expiration_date"	property="orderExpirationDate"/>
		</association>
		<association property="goods" javaType="Goods">
			<id		column="goods_cd"				property="goodsCd"/>
			<result column="goods_ctg_cd"			property="goodsCtgCd"/>
			<result column="goods_nm"				property="goodsNm"/>
			<result column="goods_time_con"			property="goodsTimeCon"/>
			<result column="price"					property="price"/>
			<result column="goods_expiration_date"	property="goodsExpirationDate"/>
			<result column="goods_insert_date"		property="goodsInsertDate"/>
		</association>
		<association property="goodsCtg"		javaType="GoodsCtg" >
			<id		column="goods_ctg_cd"		property="goodsCtgCd"/>
			<result	column="goods_ctg_nm"		property="goodsCtgNm"/>
		</association>
		<association property="seat"		javaType="Seat" >
			<id		column="seat_cd"		property="seatCd"/>
			<result	column="seat_state"		property="seatState"/>
		</association>
	</resultMap>
	
	<select id="getUseById" resultType="GoodsManagement" resultMap="GoodsManagementResultMap">
		/*회원이 이용권을 사용해 카페 이용중인 이용권 정보 내역 */
		SELECT 
			gm.goods_management_cd
			, gm.user_id
			, gm.order_cd
			, gm.goods_cd
			, gm.seat_cd
			, gm.admission_time
			, gm.leave_time
			, gm.use_time
			, gm.remaining_time
			, gm.order_expiration_date
			, go.give_time
		FROM 
			goods_management AS gm
			INNER JOIN
			goods_order AS go
			on
			gm.order_cd = go.order_cd
		WHERE
			gm.user_id = #{sessionId} AND gm.leave_time IS NULL;
	</select>
	
	<select id="getSeatCdById" resultType="GoodsManagement" resultMap="GoodsManagementResultMap">
		/*이용자의 좌석*/
		SELECT
			g.seat_cd
		FROM
			goods_management AS g
			INNER join
			seat AS s
			ON 
			g.seat_cd = s.seat_cd
		WHERE	
			g.user_id = #{sessionId} AND g.leave_time is null AND g.seat_cd IS NOT NULL AND s.seat_state = 'N';
	</select>
	
	<select id="getTotalTime" resultType="String" >
		/*카페 이용 시간 합계*/
		SELECT 
			SEC_TO_TIME(sum(TIME_TO_SEC(use_time))) as time
		FROM 
			goods_management 
		WHERE
			user_id = #{sessionId};
	</select>
	
	<select id="getUsageListCount" resultType="int">
		/*이용 내역 총 튜플 수*/
		SELECT
			COUNT(*)
		FROM
			goods_management
		<trim prefix="WHERE">
			<if test="userId != null and userId != ''">
				user_id = #{sessionId}
			</if>
		</trim>
	</select>



	<select id="usageListById" parameterType="Map" resultMap="GoodsManagementResultMap">
		/*이용내역 목록*/
		SELECT 
			gm.goods_management_cd
			, gm.user_id
			, gm.order_cd
			, gm.goods_cd
			, gm.seat_cd
			, gm.admission_time
			, gm.leave_time
			, gm.use_time
			, gm.remaining_time
			, gm.order_expiration_date
			,g.goods_nm
			,gc.goods_ctg_nm
		FROM 
			goods_management AS gm
			INNER join
			goods AS g
			on
			gm.goods_cd = g.goods_cd
			INNER join
			goods_ctg AS gc
			ON 
			g.goods_ctg_cd = gc.goods_ctg_cd
		WHERE
			user_id = #{userId} or user_id = #{sessionId} and seat_cd IS NOT NULL
		LIMIT #{startRow}, #{rowPerPage}
	</select>
	
	
	<select id="availableGoodsListById" resultType="GoodsManagement" resultMap="GoodsManagementResultMap">
		/*사용가능한 이용권 목록*/
		SELECT
			go.order_cd
			,go.goods_cd
			,go.order_expiration_date
			,go.give_time
			,g.goods_nm
			,gc.goods_ctg_nm
		FROM
			goods_order AS go
			INNER JOIN
			goods AS g
			on
			g.goods_cd = go.goods_cd
			INNER join
			goods_ctg AS gc
			on
			g.goods_ctg_cd = gc.goods_ctg_cd
		WHERE
			go.order_expiration_date > NOW() AND go.give_time> 0  AND 
			go.user_id = #{sessionId}
		GROUP BY go.order_cd;
	</select>
			
	<update id="modifyGM" parameterType="GoodsManagement">
		/*이용권 사용 정보 수정*/
		UPDATE goods_management
		<trim prefix="SET" prefixOverrides=",">
				seat_cd		= #{seatCd, jdbcType=VARCHAR}
			<if test="leaveTime != null and leaveTime != ''">
				,leave_time			= #{leaveTime}
			</if>
			<if test="useTime != null and useTime != ''">
				,use_time			= #{useTime}
			</if>
			<if test="remainingTime != null and remainingTime != ''">
				,remaining_time			= #{remainingTime}
			</if>
		</trim>
		WHERE
			goods_management_cd = #{goodsManagementCd};
	</update>
	
	
	<insert id="addGoodsManagement" parameterType="GoodsManagement">
		<selectKey resultType="String" keyProperty="goodsManagementCd" order="BEFORE">
			SELECT sf_new_goods_management_cd()
		</selectKey>
		/*이용권 사용*/
		INSERT INTO goods_management
			(goods_management_cd
			,user_id
			,order_cd
			,goods_cd
			,seat_cd
			,admission_time
			,leave_time
			,use_time
			,remaining_time
			,order_expiration_date)
			VALUES (
				sf_new_goods_management_cd()
				,#{userId}
				,#{orderCd}
				,#{goodsCd}
				,#{seatCd}
				,NOW()
				,#{leaveTime}
				,#{useTime}
				,#{remainingTime}
				,#{orderExpirationDate});	
	</insert>
	


</mapper>  