<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>	


<th:block layout:fragment="customJs">
	<link rel="stylesheet" th:href="@{/resource/css/seat.css}" type="text/css">
	<script>
		 $(function(){
			var $addForm = $('#addForm');
			function validationCheck(data1, date2){
				if((typeof data1 == 'undefined' || data1 == '' || data1 == null) 
						&& (typeof data2 == 'undefined' || data2 == '' || data2 == null)){
					return false;
				}
				return true;
			}
			
			$addForm.on('click','.seat',function(){
				
				var seatCd = $('.sc-gugMUb').val();
				console.log(seatCd);
				
				var vCheck = validationCheck(seatCd);
				console.log(vCheck);
				
				if(vCheck){
					$.ajax({
						 url: '/facility/userCheck'
						,type: 'POST'
						,data: {'facilityCd' : facilityCd, 'userId' : userId}
						,dataType: 'json'
						,success: function(data){
							console.log(data);
							if(data){
								alert("시설 승인 후 이용가능합니다.")
								$addForm.attr('action','/facility/addFacilityUser').submit();
							}else{
								alert("이미 가입된 시설입니다.");
							}
						}
					});
				}
			})
		});
	</script>
</th:block>

<th:block layout:fragment = "customContents">
	<div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">좌석선택</h4>
                  </div>
                  <div class="content">
                  	<div class="card-body">
                  		<div class="seatContainer" style="display: flex;"> 
                  			<div class="sc-lfOptZ itcIrt">
                  				<div class="sc-groQRF jkFUsp">
			                    	<div class="sc-gugMUb hYDYcT seat" th:value="1">
			                    		<p>1</p>
			                    	</div>
			                    	<div class="sc-gugMUb ebgIeQ seat">
			                    		<p>2</p>
			                    	</div>
			                    	<div class="sc-gugMUb XRHyN seat">
			                    		<p>3</p>
			                    	</div>
			                    	<div class="sc-gugMUb fwWcZd seat">
			                    		<p>4</p>
			                    	</div>
			                    	<div class="sc-gugMUb hlmtWd seat">
			                    		<p>5</p>
			                    	</div>
			                    	<div class="sc-gugMUb daICCb seat">
			                    		<p>6</p>
			                    	</div>
			                    	<div class="sc-gugMUb qhhDw seat">
			                    		<p>7</p>
			                    	</div>
			                    	<div class="sc-gugMUb dyrbaX seat">
			                    		<p>8</p>
			                    	</div>
			                    	<div class="sc-gugMUb kiRbHa seat">
			                    		<p>9</p>
			                    	</div>
			                    	<div class="sc-gugMUb gNoCip seat">
			                    		<p>10</p>
			                    	</div>
			                    	<div class="sc-gugMUb gtqBfz seat">
			                    		<p>11</p>
			                    	</div>
			                    	<div class="sc-gugMUb gPYqkD seat">
			                    		<p>12</p>
			                    	</div>
			                    	<div class="sc-gugMUb dBBUXp seat">
			                    		<p>13</p>
			                    	</div>
			                    	<div class="sc-gugMUb iVKHiy seat">
			                    		<p>14</p>
			                    	</div>
			                    	<div class="sc-gugMUb iBjmQy seat">
			                    		<p>15</p>
			                    	</div>
			                    	<div class="sc-gugMUb jZNYfM seat">
			                    		<p>16</p>
			                    	</div>
			                    	<div class="sc-gugMUb cIHfgN seat">
			                    		<p>17</p>
			                    	</div>
			                    	<div class="sc-gugMUb gHsYUR seat">
			                    		<p>18</p>
			                    	</div>
			                    	<div class="sc-gugMUb eyktMK seat">
			                    		<p>19</p>
			                    	</div>
			                    	<div class="sc-gugMUb jkRdXH seat">
			                    		<p>20</p>
			                    	</div>
			                    	<div class="sc-gugMUb lgZPHV seat">
			                    		<p>21</p>
			                    	</div>
			                    	<div class="sc-gugMUb jGrFq seat">
			                    		<p>22</p>
			                    	</div>
			                    	<div class="sc-gugMUb ktQEUD seat">
			                    		<p>23</p>
			                    	</div>
			                    	<div class="sc-gugMUb fHagpM seat">
			                    		<p>24</p>
			                    	</div>
			                    	<div class="sc-gugMUb hgoRxF seat">
			                    		<p>25</p>
			                    	</div>
			                    	<div class="sc-gugMUb jueCvz seat">
			                    		<p>26</p>
			                    	</div>
			                    	<div class="sc-gugMUb kvemav seat">
			                    		<p>27</p>
			                    	</div>
			                    	<div class="sc-gugMUb huxvpd seat">
			                    		<p>28</p>
			                    	</div>
			                    	<div class="sc-gugMUb blVoVe seat">
			                    		<p>29</p>
			                    	</div>
			                    	<div class="sc-gugMUb kGdAeP seat">
			                    		<p>30</p>
			                    	</div>
			                    	<div class="sc-gugMUb cntVGm seat">
			                    		<p>31</p>
			                    	</div>
			                    	<div class="sc-gugMUb ePpXKz seat">
			                    		<p>32</p>
			                    	</div>
			                    	<div class="sc-gugMUb bFlVCD seat">
			                    		<p>33</p>
			                    	</div>
			                    	<div class="sc-gugMUb hBujkD seat">
			                    		<p>34</p>
			                    	</div>
			                    	<div class="sc-gugMUb jJyPVu seat">
			                    		<p>35</p>
			                    	</div>
			                    	<div class="sc-gugMUb dOgIPJ seat">
			                    		<p>36</p>
			                    	</div>
			                    	<div class="sc-gugMUb kpaHdR seat">
			                    		<p>37</p>
			                    	</div>
			                    	<div class="sc-gugMUb jIYsHe seat">
			                    		<p>38</p>
			                    	</div>
			                    	<div class="sc-gugMUb dIBXPB seat">
			                    		<p>39</p>
			                    	</div>
			                    	<div class="sc-gugMUb kdrCqS seat">
			                    		<p>40</p>
			                    	</div>
			                    	<div class="sc-gugMUb dEbijy seat">
			                    		<p>41</p>
			                    	</div>
			                    	<div class="sc-gugMUb jMSHML seat">
			                    		<p>42</p>
			                    	</div>
			                    	<div class="sc-gugMUb fokAuv seat">
			                    		<p>43</p>
			                    	</div>
			                    	<div class="sc-gugMUb frupph seat">
			                    		<p>44</p>
			                    	</div>
			                    	<div class="sc-gugMUb iYpATK seat">
			                    		<p>45</p>
			                    	</div>
			                    	<div class="sc-gugMUb cmHskK seat">
			                    		<p>46</p>
			                    	</div>
			                    	<div class="sc-gugMUb fzWBpN seat">
			                    		<p>47</p>
			                    	</div>
			                    	<div class="sc-gugMUb izeXr seat">
			                    		<p>48</p>
			                    	</div>
			                    	<div class="sc-gugMUb bTrnzi seat">
			                    		<p>49</p>
			                    	</div>
			                    	<div class="sc-gugMUb gTffuk seat">
			                    		<p>50</p>
			                    	</div>
			                    	<div class="sc-gugMUb bfWekB seat">
			                    		<p>51</p>
			                    	</div>
			                    	<div class="sc-gugMUb iSQMEP seat">
			                    		<p>52</p>
			                    	</div>
			                    	

			                    	
			                    	<div style="width: 842; height: 20;" class="sc-cyRpGQ jlRuck" ></div>
			                    	<div style="width: 20; height: 1390;" class="sc-cyRpGQ ksychc" ></div>
			                    	<div style="width: 20; height: 1390;" class="sc-cyRpGQ Bwxsa" ></div>
			                    	<div style="width: 842; height: 20;" class="sc-cyRpGQ bNLIiu" ></div>
			                    	<div style="width: 300; height: 10;" class="sc-cyRpGQ bJOzMD" ></div>
			                    	<div style="width: 430; height: 10;" class="sc-cyRpGQ gmQLsF" ></div>
			                    	<div style="width: 10; height: 220;" class="sc-cyRpGQ fQWnJa" ></div>
			                    	<div style="width: 120; height: 10;" class="sc-cyRpGQ eQdaKu" ></div>
			                    	<div style="width: 10; height: 158;" class="sc-cyRpGQ hcUDFU" ></div>
			                    	<div style="width: 10; height: 158;" class="sc-cyRpGQ hAIrbc" ></div>
			                    	<div style="width: 10; height: 158;" class="sc-cyRpGQ loCcfG" ></div>
			                    	<div style="width: 130; height: 10;" class="sc-cyRpGQ gxoYnp" ></div>
			                    	<div style="width: 30; height: 30;" class="sc-cyRpGQ kXBRzY" ></div>
			                    	<div style="width: 130; height: 130;" class="sc-cyRpGQ djdZyx" ></div>
			                    	<div style="width: 130; height: 130;" class="sc-cyRpGQ iXoqgK" ></div>
			                    	<div style="width: 20; height: 550;" class="sc-cyRpGQ ettfRN" ></div>
			                    	<div style="width: 20; height: 550;" class="sc-cyRpGQ gWyRBW" ></div>
			                    	<div style="width: 130; height: 100;" class="sc-cyRpGQ dzwQHc" ></div>
			                    	<div style="width: 130; height: 100;" class="sc-cyRpGQ bsMwWH" ></div>
			                    	<div style="width: 10; height: 110;" class="sc-cyRpGQ bmbGke" ></div>
                  					<div style="font-size: 45;" class="sc-bmToVj eTZKmi">스터디존</div>
                  					<div style="font-size: 45;" class="sc-bmToVj ljYyue">노트북존</div>
                  					<div style="font-size: 45;" class="sc-bmToVj cteXod">휴게존</div>
                  					<div style="font-size: 35;" class="sc-bmToVj gOoZVl">사물함</div>
                  					<div style="font-size: 35;" class="sc-bmToVj guOgKg">사무실</div>
                  					<div style="font-size: 35;" class="sc-bmToVj cyXDHj">출입문</div>
                  					<div style="font-size: 15;" class="sc-bmToVj jpJwEx">키오스크</div>
                  				</div>
                  			</div>
                  		</div>
                  	</div>
                  </div>
              </div>
          </div>
		</div>
	</div>
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form id="addForm" method="post">
			<div class="modal-dialog" role="document">
		 		<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="seatCd"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<div class="col-md-9 col-sm-9">
								<label class="control-label" for="userLevel">해당좌석을 선택하시겠습니까?</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
							<button type="button" class="btn btn-info" id="addBtn">확인</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</th:block>

</html>